<div class="gallery">

    <div class="text-center">
      <h2>Welcome back, {{org}}!</h2>
      <p>Below are the important links that you can access from the CSO Finance Directory. </p>
    </div>

    {{!-- Container 1 --}}
    <div class="container">
      {{#each card}}
      <a data-id={{@key}} class="cardLink" href={{link}} target="_blank">
        <div class="card-box col-md-4">
          <figure class="effect-marley card">
              <h4 class="cardTitle">{{cardTitle}}</h4>
              <p class="cardDesc">{{cardDesc}}</p>
          </figure>
          <div class="cardbtn-container">
            <button type="submit"  class="editCard btn btn-default"data-toggle="modal" data-target="#editModal">Edit</button>
            <button type="submit" class="deleteCard btn btn-default" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
          
        </div>
      </a>
      {{/each}}
      
      <a data-toggle="modal" data-target="#createModal">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/Create Card.png" alt="" class="img-responsive" />
            <h4>Create Card</h4>
            <p>Add a new card.</p>
        </figure></a>
    </div>

    </div>