<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Balance</title>

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        {{!-- <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css"> --}}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
        {{!-- <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"> --}}
        <link href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/fixedcolumns/3.3.0/css/fixedColumns.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link href="../css/animate.min.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet" />
        <link href="../css/document.css" rel="stylesheet" />
        <link href="../css/table.css" rel="stylesheet" />
        
    </head>

    <body>
            {{#if org}}
            {{#if admin}}
                {{> adminNav}}
                {{> adminAnnouncement}}
            {{else}}
                {{> nav}}
                {{> userAnnouncement}}
            {{/if}}
        {{else}}
            {{> nav}}
        {{/if}}
        <div id="WAT">
            <h1 id="documentLabel"> YOUR BALANCE </h1> <br/>
            <h2 id="orgLabel"> {{org}} </h2> <br/>
            <div class="table-container">
                    <table id="myTable" style="color: black; border: none; width: 100%">
                    <thead>
                    <tr>
                        <th>Month/Year</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each Header}}
                        <tr>
                            <td> {{this.monthyear}}</td>
                            <td> {{this.amount}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="10" style="text-align: center;">No document available in table</td>
                        </tr>
                    {{/each}}
                    </table>
            </div>
        </div>
        
        {{> footer}}
        {{> profile}}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate.min.js"></script>
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script src="../js/global.js"></script>    
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="../js/balance.js"></script>

        <script>
            wow = new WOW({}).init();
            
            $(document).ready( function () {
                table = $('#myTable').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    scrollX:        true,
                    scrollY:        300,
                    scrollCollapse: true,
                    responsive:     true,
                    autoFill:       false
                });
                // Filter event handler
                $(table.table().container()).on( 'keyup', 'thead input', function () {
                    console.log("hewoo");
                    table
                        .column( $(this).data('index') )
                        .search( this.value )
                        .draw();
                } );
                $("label input").attr("autocomplete", "off");
            });

            

        </script>
    </body>

</html>