<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document Tracker </title>

        <!-- Bootstrap -->
        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link href="../css/animate.min.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet" />
        <link href="../css/document.css" rel="stylesheet" />
        <link href="../css/table.css" rel="stylesheet" />
        
    </head>

    <body>
            {{#if org}}
            {{#if admin}}
                {{> adminNav}}
                {{> adminAnnouncement}}
            {{else}}
                {{> nav}}
                {{> userAnnouncement}}
            {{/if}}
        {{else}}
            {{> nav}}
        {{/if}}
        
        <h1 id="documentLabel"> DOCUMENT LOGS </h1> <br/>
        <h2 id="orgLabel"> {{org}} </h2> <br/>
        <div id="WAT">
            <table id="myTable" style="color: black; border: 1px solid black; width: 100%">
            <thead>
            <tr>
                <th>Date of Submission</th>
                <th>Submitted By </th>
                <th>Title of Activity</th>
                <th>Activity Description Date</th>
                <th>Type of Process</th>
                <th>PRS Number</th>
                <th>Amount Spent / to be Spent </th>
                <th>PRS Payable to (N/A for LQ) </th>
                <th>No. of Revisions</th>
                <th>Date Pended by CSO Finance Team</th>
                <th>Audited By</th>
                <th>Date Audited</th>
                <th>Encoded By</th>
                <th>Date Encoded</th>
                <th>Pended?</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            {{#each Header}}
                <tr>
                    <td> {{this.dateofsubmission}}</td>
                    <td> {{this.submittedby}}</td>
                    <td> {{this.titleofactivity}}</td>
                    <td> {{this.activitydatedescription}}</td>
                    <td> {{this.typeofprocess}}</td>
                    <td> {{this.prsnumber}}</td>
                    <td> {{this.amountspenttobespent}}</td>
                    <td> {{this.prspayabletonaforlq}}</td>
                    <td> {{this.no.ofrevisions}}</td>
                    <td> {{this.datependedbycsofinanceteam}}</td>
                    <td> {{this.auditedby}}</td>
                    <td> {{this.dateaudited}}</td>
                    <td> {{this.encodedby}}</td>
                    <td> {{this.dateencoded}}</td>
                    <td> {{this.pended}}</td>
                    <td> {{this.remarks}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="10" style="text-align: center;">No document available in table</td>
                </tr>
            {{/each}}
            </table>
        </div>
        
        {{> footer}}
        {{> profile}}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate.min.js"></script>
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
        <script src="../js/global.js"></script>    
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="../js/document-tracker.js"></script>

        <script>
            wow = new WOW({}).init();
            
            $(document).ready( function () {
                table = $('#myTable').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    scrollX:        true,
                    scrollY:        300,
                    scrollCollapse: true,
                    responsive:     true,
                    
                    fixedColumns:   {
                        leftColumns: 0,
                        rightColumns: 2
                    }
                });
                // Filter event handler
                $(table.table().container()).on( 'keyup', 'thead input', function () {
                    console.log("hewoo");
                    table
                        .column( $(this).data('index') )
                        .search( this.value )
                        .draw();
                } );
            });

            

        </script>
    </body>

</html>