<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document Tracker </title>

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link href="../css/animate.min.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet" />
        <link href="../css/document.css" rel="stylesheet" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <script src="../js/document-tracker.js"></script>
        <script src="../js/global.js"></script>
    </head>

    <body>
        {{#if org}}
            {{#if admin}}
                {{> adminNav}}
            {{else}}
                {{> nav}}
            {{/if}}
        {{else}}
            {{> nav}}
        {{/if}}
        <div>
            <table style="color: black; margin-top: 110px;">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Date of Submission</th>
                        <th>Submitted By </th>
                        <th>{{org}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Header}}
                        <tr>
                            <td> {{this.timestamp}} </td>
                            <td> {{this.dateofsubmission}}</td>
                            <td> {{this.submittedby}}</td>
                            <td> {{this.organizationsname}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                
            </table>
        </div>
        
        {{> footer}}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script>
            wow = new WOW({}).init();
        </script>
    </body>

</html>